html,
body {
  text-align: center;
  background-color: black;
  color: white;
}

.card {
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid white;
}

img {
  width: 25%;
  margin: 12px;
}

ul {
  display: contents;
}

li {
  list-style-position: inside;
}